{% include 'header.htm' %}
<div id="content" class="main">

<h2><img src="../img/about.gif" alt="about" id="icon" /> about</h2>

<div class="about">

<p>This is my overly complex solution to the simple problem of cataloging
my game collection. The source code is available on 
<a href="https://github.com/gabehammersmith/gabes.in">GitHub</a>.
Further details are provided in <a href="/thearcade/humans.txt">humans.txt</a>.</p>

<p>The icons were created by Yoshi. Many more like them can be found on his 
<a href="http://ix.sakura.ne.jp/~yoshi">site</a>.</p>

<p>Inquire: <a href="mailto:me@gabes.in">me@gabes.in</a></p>


</div>
{% include 'footer.htm' %}
